In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
df1 = pd.read_csv('R01_150_1_pos_Clean.csv')
df2 = pd.read_csv('R01_150_1_neg_Clean.csv')
df3 = pd.read_csv('R01_150_2_pos_Clean.csv')
df4 = pd.read_csv('R01_150_2_neg_Clean.csv')

In [3]:
df1a = df1.loc[:, 'chem_id']
df1b = df1.loc[:, 'BB02375-M331_01':'BB02674-C479_02']
df1c = df1.loc[:, 'Compound':'DF of samples']

In [4]:
df1bL = np.log10(df1b)

In [6]:
df1bL.head()

,BB02375-M331_01,BB02375-M331_02,BB02376-M332_01,BB02376-M332_02,BB02377-M317_01,BB02377-M317_02,BB02378-M524_01,BB02378-M524_02,BB02379-M102_01,BB02379-M102_02,...,BB02670-C485_01,BB02670-C485_02,BB02671-C466_01,BB02671-C466_02,BB02672-C600_01,BB02672-C600_02,BB02673-C488_01,BB02673-C488_02,BB02674-C479_01,BB02674-C479_02
0,5.879131,5.487403,5.500029,5.768299,5.501288,5.138252,5.692682,5.818764,5.355291,5.467133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.828692,NaN,NaN
1,5.308680,5.452726,5.406329,5.357020,5.371546,5.112152,5.223810,5.432820,5.065184,5.318789,...,4.772916,4.879377,NaN,NaN,NaN,NaN,NaN,4.556013,NaN,NaN
2,5.786411,5.914343,5.749579,5.591169,6.162704,6.119801,6.149400,5.109717,6.293217,6.058390,...,5.560823,5.571265,5.552856,5.013579,5.512157,5.514445,5.735571,5.827803,5.388170,4.727167
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.504653,5.552222,4.964321,5.683351,5.361650,5.276829,5.287165,5.056863,5.416819,4.219165
4,5.002438,5.067302,5.037191,4.869361,4.173390,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def fillNaN_with_unifrand(df):
    lower, upper = 0, df.min()
    a = df.values
    m = np.isnan(a) # mask of NaNs
    mu, sigma = df.min(), df.std()
    a[m] = stats.truncnorm.rvs(
          (lower-mu)/sigma,(upper-mu)/sigma,loc=mu,scale=sigma,size=m.sum())
    return df

In [6]:
df1bLmod = df1bL.apply(fillNaN_with_unifrand)

In [7]:
df1bLmod = 10**df1bLmod
df1 = pd.concat([df1a, df1bLmod, df1c], axis=1)

In [8]:
df1.to_csv('R01_150_1_pos_CleanFna.csv')

In [9]:
df2a = df2.loc[:, 'chem_id']
df2b = df2.loc[:, 'BB02375-M331_01':'BB02674-C479_02']
df2c = df2.loc[:, 'Compound':'DF of samples']

In [10]:
df2bL = np.log10(df2b)

In [11]:
df2bLmod = df2bL.apply(fillNaN_with_unifrand)

In [12]:
df2bLmod = 10**df2bLmod
df2 = pd.concat([df2a, df2bLmod, df2c], axis=1)

In [13]:
df2.to_csv('R01_150_1_neg_CleanFna.csv')

In [14]:
df3a = df3.loc[:, 'chem_id']
df3b = df3.loc[:, 'BC01006-651C_01':'BC01537-845C_02']
df3c = df3.loc[:, 'Compound':'DF of samples']

In [15]:
df3bL = np.log10(df3b)

In [16]:
df3bLmod = df3bL.apply(fillNaN_with_unifrand)

In [17]:
df3bLmod = 10**df3bLmod
df3 = pd.concat([df3a, df3bLmod, df3c], axis=1)

In [18]:
df3.to_csv('R01_150_2_pos_CleanFna.csv')

In [19]:
df4a = df4.loc[:, 'chem_id']
df4b = df4.loc[:, 'BC01006-651C_01':'BC01537-845C_02']
df4c = df4.loc[:, 'Compound':'DF of samples']

In [20]:
df4bL = np.log10(df4b)

In [21]:
df4bLmod = df4bL.apply(fillNaN_with_unifrand)

In [22]:
df4bLmod = 10**df4bLmod
df4 = pd.concat([df4a, df4bLmod, df4c], axis=1)

In [23]:
df4.to_csv('R01_150_2_neg_CleanFna.csv')