In [1]:
import numpy as np
import pandas as pd

In [2]:
dfPhN = pd.read_csv('Neg_Formulas_Pharma.csv')
dfPeN = pd.read_csv('Neg_Formulas_Pest.csv')
dfFlN = pd.read_csv('Neg_Formulas_Flame.csv')
dfPFN = pd.read_csv('Neg_Formulas_PFAS.csv')
dfPlN = pd.read_csv('Neg_Formulas_Plast.csv')
dfCoN = pd.read_csv('Neg_Formulas_Cosmetics.csv')
dfMeN = pd.read_csv('Neg_Formulas_Met.csv')

In [3]:
dfPhP = pd.read_csv('Pos_Formulas_Pharma.csv')
dfPeP = pd.read_csv('Pos_Formulas_Pest.csv')
dfFlP = pd.read_csv('Pos_Formulas_Flame.csv')
dfPFP = pd.read_csv('Pos_Formulas_PFAS.csv')
dfPlP = pd.read_csv('Pos_Formulas_Plast.csv')
dfCoP = pd.read_csv('Pos_Formulas_Cosmetics.csv')
dfMeP = pd.read_csv('Pos_Formulas_Met.csv')

In [4]:
dfPh = pd.concat([dfPhN, dfPhP], axis=0, sort=False)
dfPe = pd.concat([dfPeN, dfPeP], axis=0, sort=False)
dfFl = pd.concat([dfFlN, dfFlP], axis=0, sort=False)
dfPF = pd.concat([dfPFN, dfPFP], axis=0, sort=False)
dfPl = pd.concat([dfPlN, dfPlP], axis=0, sort=False)
dfCo = pd.concat([dfCoN, dfCoP], axis=0, sort=False)
dfMe = pd.concat([dfMeN, dfMeP], axis=0, sort=False)

In [5]:
df = pd.read_csv('R01_combined_posnegBaC.csv')

In [6]:
dfPh = dfPh.drop(['FOUND_BY', 'DTXSID', 'PREFERRED_NAME'], axis=1)
dfPe = dfPe.drop(['FOUND_BY', 'DTXSID', 'PREFERRED_NAME'], axis=1)
dfFl = dfFl.drop(['FOUND_BY', 'DTXSID', 'PREFERRED_NAME'], axis=1)
dfPF = dfPF.drop(['FOUND_BY', 'DTXSID', 'PREFERRED_NAME'], axis=1)
dfPl = dfPl.drop(['FOUND_BY', 'DTXSID', 'PREFERRED_NAME'], axis=1)
dfCo = dfCo.drop(['FOUND_BY', 'DTXSID', 'PREFERRED_NAME'], axis=1)
dfNe = dfMe.drop(['FOUND_BY', 'DTXSID', 'PREFERRED_NAME'], axis=1)

In [7]:
dfPh

,INPUT,GREEKPHARMA,SWISSPHARMA,UOATARGPHARMA,ANTIBIOTICS,DRUGBANK,OPIOIDS,STATINS,ITNANTIBIOTIC,VETDRUGS,ZINC15PHARMA,SWGDRUG
0,C10HF19O2,-,-,-,-,-,-,-,-,-,-,-
1,C10HF19O2,-,-,-,-,-,-,-,-,-,-,-
2,C10H11NO2,-,-,-,-,-,-,-,-,-,-,-
3,C10H11NO2,-,-,-,-,-,-,-,-,-,-,-
4,C10H11NO2,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...
27590,C9H8O3,-,-,-,-,-,-,-,-,-,-,NaN
27591,C9H8O3,-,-,-,-,-,-,-,-,-,-,NaN
27592,C9H8O3,-,-,-,-,-,-,-,-,-,-,NaN
27593,C9H8O3,-,-,-,-,-,-,-,-,-,-,NaN
27594,C9H8O3,-,-,-,-,-,-,-,-,-,-,NaN

In [8]:
dfPh = dfPh.replace('-', 0)
dfPh = dfPh.replace('Y', 1)
dfPhg = dfPh.groupby(by='INPUT').sum()

In [9]:
dfPhg

,GREEKPHARMA,SWISSPHARMA,UOATARGPHARMA,ANTIBIOTICS,DRUGBANK,OPIOIDS,STATINS,ITNANTIBIOTIC,VETDRUGS,ZINC15PHARMA,SWGDRUG
INPUT,,,,,,,,,,,
C10H10N2,0,0,0,0,1,0,0,0,0,1,0.0
C10H11NO2,0,0,0,0,0,0,0,1,0,0,0.0
C10H12N2O5,0,0,0,0,0,0,0,0,0,0,0.0
C10H12N6,0,0,0,0,0,0,0,0,0,0,0.0
C10H12O,0,1,0,0,1,0,0,0,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...
C9H8N2O,0,0,0,0,2,0,0,0,0,2,0.0
C9H8O,0,0,0,0,0,0,0,0,0,1,1.0
C9H8O2,0,0,0,0,0,0,0,0,0,0,2.0
C9H8O3,0,0,0,0,6,0,0,0,0,6,0.0
C9HF17O2,0,0,0,0,0,0,0,0,0,0,0.0

In [10]:
dfPhg['sum_rows'] = dfPhg.sum(axis=1)

In [11]:
dfPhg['sum_rows'].sum()

855.0

In [12]:
dfPhg['Pharma_Presence'] = np.where(dfPhg['sum_rows'] > 0, 1, 0)

In [13]:
dfPhg['Pharma_Presence'].sum()

170

In [14]:
dfPe = dfPe.replace('-', 0)
dfPe = dfPe.replace('Y', 1)
dfPeg = dfPe.groupby(by='INPUT').sum()

In [15]:
dfPeg['sum_rows'] = dfPeg.sum(axis=1)
dfPeg['sum_rows'].sum()

783

In [16]:
dfPeg['Pest_Presence'] = np.where(dfPeg['sum_rows'] > 0, 1, 0)
dfPeg['Pest_Presence'].sum()

167

In [17]:
dfFl = dfFl.replace('-', 0)
dfFl = dfFl.replace('Y', 1)
dfFlg = dfFl.groupby(by='INPUT').sum()

In [18]:
dfFlg['sum_rows'] = dfFlg.sum(axis=1)
dfFlg['sum_rows'].sum()

4

In [19]:
dfFlg['Flame_Presence'] = np.where(dfFlg['sum_rows'] > 0, 1, 0)
dfFlg['Flame_Presence'].sum()

3

In [20]:
dfPF = dfPF.replace('-', 0)
dfPF = dfPF.replace('Y', 1)
dfPFg = dfPF.groupby(by='INPUT').sum()

In [21]:
dfPFg['sum_rows'] = dfPFg.sum(axis=1)
dfPFg['sum_rows'].sum()

11

In [22]:
dfPFg['PFAS_Presence'] = np.where(dfPFg['sum_rows'] > 0, 1, 0)
dfPFg['PFAS_Presence'].sum()

6

In [23]:
dfPFg[dfPFg['PFAS_Presence'] == 1]

             PFASMASTER  sum_rows  PFAS_Presence
INPUT
C10HF19O2             2         2              1
C11HF21O2             2         2              1
C6HF13O3S             1         1              1
C8HClF16O4S           1         1              1
C8HF17O3S             2         2              1
C9HF17O2              3         3              1

In [24]:
dfPl = dfPl.replace('-', 0)
dfPl = dfPl.replace('Y', 1)
dfPlg = dfPl.groupby(by='INPUT').sum()

In [25]:
dfPlg['sum_rows'] = dfPlg.sum(axis=1)
dfPlg['sum_rows'].sum()

569

In [26]:
dfPlg['Plast_Presence'] = np.where(dfPlg['sum_rows'] > 0, 1, 0)
dfPlg['Plast_Presence'].sum()

231

In [27]:
dfCo = dfCo.replace('-', 0)
dfCo = dfCo.replace('Y', 1)
dfCog = dfCo.groupby(by='INPUT').sum()

In [28]:
dfCog['sum_rows'] = dfCog.sum(axis=1)
dfCog['sum_rows'].sum()

1440

In [29]:
dfCog['Cosm_Presence'] = np.where(dfCog['sum_rows'] > 0, 1, 0)
dfCog['Cosm_Presence'].sum()

212

In [30]:
dfMe = dfMe.replace('-', 0)
dfMe = dfMe.replace('Y', 1)
dfMeg = dfMe.groupby(by='INPUT').sum()

In [31]:
dfMeg['sum_rows'] = dfMeg.sum(axis=1)
dfMeg['sum_rows'].sum()

165.0

In [32]:
dfMeg['Met_Presence'] = np.where(dfMeg['sum_rows'] > 0, 1, 0)
dfMeg['Met_Presence'].sum()

75

In [33]:
loc1 = dfPhg.loc[:,'Pharma_Presence']
loc2 = dfPeg.loc[:,'Pest_Presence']
loc3 = dfFlg.loc[:,'Flame_Presence']
loc4 = dfPFg.loc[:,'PFAS_Presence']
loc5 = dfPlg.loc[:,'Plast_Presence']
loc6 = dfCog.loc[:,'Cosm_Presence']
loc7 = dfMeg.loc[:, 'Met_Presence']
dfD = pd.concat([loc1, loc2, loc3, loc4, loc5, loc6, loc7], axis=1, sort=False)

In [34]:
dfD = dfD.reset_index()
dfD.columns = dfD.columns.str.replace('INPUT', 'Formula_s1')

In [35]:
dfD

,Formula_s1,Pharma_Presence,Pest_Presence,Flame_Presence,PFAS_Presence,Plast_Presence,Cosm_Presence,Met_Presence
0,C10H10N2,1,0,0,0,1,0,0
1,C10H11NO2,1,0,0,0,0,0,1
2,C10H12N2O5,0,1,0,0,1,0,0
3,C10H12N6,0,0,0,0,0,0,0
4,C10H12O,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...
393,C9H8N2O,1,1,0,0,0,0,0
394,C9H8O,1,1,0,0,0,1,0
395,C9H8O2,1,0,0,0,0,1,1
396,C9H8O3,1,1,0,0,1,1,1
397,C9HF17O2,0,0,0,1,1,0,0

In [36]:
df['Formula_s1'] = df['Formula_s1'].str.replace(' ', '')
df['Formula_s2'] = df['Formula_s2'].str.replace(' ', '')
df = pd.merge(df, dfD, on='Formula_s1', how='left')
df = df.fillna(0)

In [37]:
df['Met_Presence'].sum()

149

In [38]:
df = df.drop('Unnamed: 0', axis=1)

In [39]:
df

,chem_id_s1,M331,M332,M317,M524,M102,M341,M330,M345,M340,...,CO2_Adduct,pos_neg_dup,neg_pos_dup,Pharma_Presence,Pest_Presence,Flame_Presence,PFAS_Presence,Plast_Presence,Cosm_Presence,Met_Presence
0,158.0848_1.8326_75,23014.583414,35781.743242,630102.449070,11495.685179,297645.722596,114589.220618,1.526543e+06,101597.021085,236089.213100,...,0.0,0,0,1,0,0,0,1,0,0
1,148.0886_3.6386_30,10460.647408,22674.974161,22478.453200,10830.129767,46811.341571,27959.377011,1.155142e+04,5633.801102,26549.384877,...,0.0,0,0,1,1,0,0,1,1,0
2,196.0739_11.7317_477,11323.048129,11816.145003,11821.121662,12678.024245,6034.328408,18383.357132,1.089179e+04,10890.162708,10792.346778,...,0.0,0,0,1,1,0,0,1,1,1
3,147.1045_3.2268_364,57081.423799,54767.399215,49932.178513,38288.600153,3325.918526,72691.996597,4.950163e+04,79429.757331,7759.361744,...,0.0,0,0,0,0,0,0,0,1,0
4,147.1047_7.2359_363,5268.617733,3069.552750,11034.774489,4001.319531,3115.572284,3158.377996,1.068680e+03,1742.412358,3674.003545,...,0.0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,160.0639_5.7146_33,7539.435471,104818.089726,4011.933121,13480.667976,113395.643158,60719.560627,5.238938e+03,45589.479347,117230.137490,...,0.0,0,0,1,1,0,0,0,0,0
708,132.0576_5.3568_283,635.582616,1768.427586,1406.367253,7809.952567,13035.288043,1433.358954,1.827622e+03,1669.775180,4544.108838,...,0.0,0,0,1,1,0,0,0,1,0
709,148.0526_2.1169_256,358159.014834,157068.385277,701612.501761,372464.792116,244608.739591,384360.588364,2.211682e+05,376849.914047,447320.709265,...,0.0,0,0,1,0,0,0,0,1,1
710,224.0686_1.4658_199,1411.812994,3944.466896,2420.638777,6484.454022,7854.335337,2513.399086,4.025823e+03,2361.064485,2980.946775,...,0.0,0,0,1,1,0,0,1,1,1
711,463.9703_10.5185_738,24086.655855,22424.752399,18658.908909,24648.883031,14774.547828,23119.423776,1.935595e+05,26316.836916,27677.750824,...,0.0,0,0,0,0,0,1,1,0,0

In [40]:
df.to_csv('R01_posneg_database_search.csv')